* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@font-face {
    font-family: h1header;
    src: url(../fuentes/Bangers-Regular.ttf);
}

.contenedor {
    height: 100vh;
    width: 100%;
}

header {
    background: -moz-linear-gradient(left, #ff6000,#ffa500);
    background: -webkit-linear-gradient(left, #ff6000,#ffa500);
}
header h1 {
    margin-left: 3em;
    color: #ffffff;
    padding: 15px;
    font-family: h1header;
}

#busquedaimg {
    position: absolute;
    top: 1.25em;
    right: 15%;
}

header input {
    position: absolute;
    top: 1.5em;
    right: 4em;
    height: 25px;
}

footer {
    position: fixed;
	bottom: 0;
	left: 50%;
	transform: translate(-50%);
    background: -moz-linear-gradient(left, #ffffff, #ff6000, #ff6000, #ff6000, #ff6000, #ff6000, #ff6000, #ff6000, #ff6000, #ff6000, #ff6000, #ff6000, #ff6000, #ff6000, #ff6000, #ff6000, #ff6000, #ffffff);
    height: 30px;
    width: 100%;
}

.copy {
    text-align: right;
    position: absolute;
    bottom: 5px;
    right: 6em;
    font-weight: bold;
}

#centrosoporte {
    position: absolute;
    bottom: 3px;
	left: 50%;
	transform: translate(-50%);
    font-weight: bold;
}
#centrosoporte a { text-decoration: none; }