* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@font-face {
    font-family: h1header;
    src: url(../fuentes/Bangers-Regular.ttf);
}

.contenedor {
    height: 100vh;
    width: 100%;
}

header {
    background: -moz-linear-gradient(left, #ff6000,#ffa500);
    background: -webkit-linear-gradient(left, #ff6000,#ffa500);
}
header h1 {
    margin-left: 3em;
    color: #ffffff;
    padding: 12px;
    font-family: h1header;
    font-weight: normal;
}

header input {
    float: right;
    height: 25px;
}

nav {
    background-color: black;
    text-align: center;
    padding-top: 4px;
    padding-bottom: 4px;
}
nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

#contenido {
    width: 80%;
    margin-top: 1.5em;
    margin-left: auto;
    margin-right: auto;
}
#contenido h1 {
    color: #ff6000;
    font-family: h1header;
    font-weight: normal;
}

#portada {
    margin-left: auto;
    margin-right: auto;
}

#rn9snew {
    float: left;
    width: 175px;
    height: 225px;
    border: 1px solid gray;
    padding: 5px;
    border-radius: 6px;
    margin-top: 1.25em;
    margin-right: 1.25em;
    box-shadow: 6px -6px black;
}
#rn9snewimg {
    margin-left: 8px;
    width: 145px;
    height: 165px;
}

#mi11new {
    float: left;
    width: 175px;
    height: 225px;
    border: 1px solid gray;
    padding: 5px;
    border-radius: 6px;
    margin-top: 1.25em;
    margin-right: 1.25em;
    box-shadow: 6px -6px black;
}
#mi11newimg {
    margin-left: 7px;
    width: 145px;
    height: 165px;
}

#aliothnew {
    float: left;
    width: 175px;
    height: 225px;
    border: 1px solid gray;
    padding: 5px;
    border-radius: 6px;
    margin-top: 1.25em;
    margin-right: 1.25em;
    box-shadow: 6px -6px black;
}
#aliothnewimg {
    width: 165px;
    height: 165px;
}

#i13pmaxnew {
    float: left;
    width: 175px;
    height: 225px;
    border: 1px solid gray;
    padding: 5px;
    border-radius: 6px;
    margin-top: 1.25em;
    margin-right: 1.25em;
    margin-bottom: 4em;
    box-shadow: 6px -6px black;
}
#i13pmaxnewimg {
    width: 165px;
    height: 165px;
}


footer {
    position: fixed;
	bottom: 0;
    background: -moz-linear-gradient(left, #ffffff, #ff6000, #ff6000, #ff6000, #ff6000, #ff6000, #ff6000, #ff6000, #ff6000, #ff6000, #ff6000, #ff6000, #ff6000, #ff6000, #ff6000, #ff6000, #ff6000, #ffffff);
    background: -webkit-linear-gradient(left, #ffffff, #ff6000, #ff6000, #ff6000, #ff6000, #ff6000, #ff6000, #ff6000, #ff6000, #ff6000, #ff6000, #ff6000, #ff6000, #ff6000, #ff6000, #ff6000, #ff6000, #ffffff);
    height: 30px;
    width: 100%;
}

#centrosoporte {
    clear: both;
    float: left;
    font-weight: bold;
    padding-top: 4px;
    padding-left: 4%;
}
#centrosoporte a { text-decoration: none; }

.copy {
    float: right;
    padding-top: 4px;
    padding-right: 4%;
    font-weight: bold;
}