* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #fddbbd;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-transform: uppercase;
	text-align: center;
    color: #b0b0b0;
}

.cajas {
    height: 200px;
    width: 200px;
    background-color: #f2d0ab;
    border-width: 2.5px;
    border-color: #c9a568;
    border-style: dashed;
    float: left;
	margin: 30px;
}

h3 {
    position: relative;
    top: -13px;
    left: 25px;
    padding-left: 0.5em;
    width: 75%;
    background-color: #c9a568;
    color: #dcdcdd;
    font-style: italic;
    font-weight: bold;
}

#exito { clear: left; }

p {
    text-align: justify;
    font-style: italic;
    padding-left: 0.5em;
    padding-right: 0.5em;
}
p::first-letter {
    font-size: 2em;
    color: #c9a568;
    font-style: normal;
}